html {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0%;
}

header {
  background-color: rgba(21, 34, 55, 1);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header img {
  width: 84px;
  height: 31px;
}

header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.search {
  border: 1px white solid;
  padding: 1px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 4px;

}

.search input {
  color: white;
  width: 477px;
  height: 40px;
  background: none;
  border: none;
}

.search input::placeholder {
  color: white;
}

.search img {
  width: 22px;
  height: 24px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

button {
  height: 40px;
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: 0.5em 2em;
}

.white-btn {
  background: rgba(255, 255, 255, 1);

}

.singin {
  background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(94deg, rgba(68, 221, 138, 0.8) 3%, rgba(21, 183, 226, 0.8) 98%),
    url(images/bg-header.png);
  background-size: cover;
  background-position: center;
  border: none;
  gap: 1em;
  padding: 10em 0;
}

.title-blue-night {
  color: rgba(21, 34, 55, 1);

}

.bg-blue-night {
  background: rgba(21, 34, 55, 1);
  color: white;
}


.hero h1 {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 48px;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 0%;

}

.hero h2 {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 0%;
}

.formations {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;

}

h3 {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: -1.5%;
  margin: 0%;
}

.formations .all-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.formations .all-cards .card .image-container {
  position: relative;
}

.prix-container {
  position: absolute;
  bottom: -12px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #152237;
  border-radius: 999px;
  padding: 6px 12px;
}

.prix {
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.oldprice {
  color: #9aa3b2;
  font-size: 12px;
  text-decoration: line-through;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.card-info h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1.5%;
  margin: 0%;
}

.card-info .auteur-blue-night {
  margin: 1px 0;
  color: #152237;
}

.note1 {
  direction: rtl;
  display: inline-flex;
  padding-right: 80px;
  padding-bottom: 30px;
  height: 10px;
  margin-top: -6px;
}

.note1 input {
  display: none;
}

.note1 label {
  font-size: 2.5rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.note1 label:hover,
.note1 label:hover~label {
  color: gold;
}

.note1 input:checked~label {
  color: gold;
}

.avis {
  padding: 80px 120px;
  text-align: center;
}

.endcard-blue-night {
  color: #152237;
}

.title-blue-night h1 {
  margin: 0%;
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
}

.title-white h1 {
  color: #FFFFFF;

}

.avis-container {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}


.avis-card {
  text-align: left;
}


.avis-card img {
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}


.avis-card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}


.stars {
  color: #FFC107;
  font-size: 18px;
  margin-bottom: 16px;
}


.avis-card p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.liste1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.avantages {
display: flex;
    flex-direction: column;
    padding: 1em;
}

.title-blue-nightt{
 padding: 1em;
 color: #152237;
}


.liste1 {
  font-size: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

}

.icon-list {
  list-style: none;
  margin: 0;
}

.icon-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;

}

.icon-list li img {
  width: 30px;
  height: 30px;
}

#pexel {
      display: flex;
    flex-direction: column;
    padding: 0  3em;
}



.avantagesforma {
  height: 641px;
    display: flex;
    flex-direction: column;
  background: rgba(68, 221, 138, 1);
}

.title2 {

  width: 686px;
  height: 93px;
  padding-left: 912px;
  padding-top: 79px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
}

.liste2 {
  position: relative;
  width: 616px;
  height: 352px;
  top: 211px;
  left: 977px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.5%;
  margin-top: -560px;
}

.icon-list2 {
  list-style: none;
  padding: 0;
}

.icon-list2 li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;

}

.icon-list2 li img {
  width: 30px;

  height: 30px;
}

#pexel2 {
  width: 729px;
  height: 487px;
  top: 76px;
  padding-left: 101px;
  margin-top: -110px;
}



.infoplus {
  width: 1680px;
  height: 740px;
  top: 3673px;
  opacity: 1;
}

.rectancle {
  position: relative;
  width: 830px;
  height: 740px;
  left: 1030px;
  background: rgba(21, 34, 55, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}


#logo2 {
  width: 430px;
  height: auto;
}

.texte3 {
  position: relative;
  width: 686px;
  height: 372px;
  left: 103px;
  bottom: 480px;

}

.title3 {

  width: 686px;
  height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-transform: uppercase;

}

.texte4 {

  width: 686px;
  height: 295px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -1.5%;
  color: rgba(21, 34, 55, 1);
  text-align: left;
}

.contact {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.contact-title {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: #142237;
  padding-left: 8px;
}

.contact-line {
  width: 350px;
  height: 3px;
  background: #4ade80;
  margin: 0 auto 60px;
}


.contact-form {
  width: 1100px;
  margin: 0 auto;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.contact-row input {
  width: 100%;
  height: 50px;
  background: #142237;
  border: none;
  padding: 0 20px;
  color: white;
  font-size: 14px;
}

.contact-row input::placeholder,
textarea::placeholder {
  color: #cfd5df;
}


textarea {
  width: 100%;
  height: 200px;
  background: #142237;
  border: none;
  padding: 20px;
  color: white;
  font-size: 14px;
  resize: none;
  margin-bottom: 50px;
}


button {
  background: #4ade80;
  border: none;
  padding: 14px 80px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}


.footer {
  background: #142237;
  color: white;
 display: flex;
    flex-direction: column;
  padding: 60px 80px 30px;
}


.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo img {
  width: 140px;
}


.footer-col h4 {
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-col a {
  color: white;
  text-decoration: none;
}

.coord li {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.footer-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn-white {
  background: white;
  color: #142237;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-green {
  background: #4ade80;
  color: #142237;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
}


.footer-line {
  height: 2px;
  background: #4ade80;
  margin: 40px 0 25px;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.social {
     display: flex;
    gap: 14px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.social a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 600px) {
  .search {
    display: none;
  }

  header a {
    display: none;
  }

}