body{
opacity: 1;
padding: 0%;
margin: 0%;
border: none;
}

.barre {
background-color: rgba(21, 34, 55, 1);
width: 1680;
height: 80px;
opacity: 1;
border: none;
}

#logo {
width: 84px;
height: 31px;
display: flex;
border: none;

}

p {
width: 110px;
height: 18px;
opacity: 1;
top: 31px;
left: 350px;
font-family: Montserrat;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: -1.5%;
text-align: center;
vertical-align: middle;
border: none;
color: rgba(255, 255, 255, 1);
}

.recherche{
   position: relative;

}

.search{
position: absolute;
font-family:"Montserrat", sans-serif;
color: white;
width: 477px;
height: 40px;
opacity: 1;
top: 20px;
left: 603px;
border-radius: 6px;
border-width: 1px;
}

#iconesearch {
   position: absolute;
width: 22.057804107666016px;
height: 24px;
top: 28px;
left: 1047.83px;
opacity: 1;
border: none;
}



.login {
font-family:"Montserrat", sans-serif;
width: 130px;
height: 40px;
opacity: 1;
border-radius: 6px;
text-align: center;
background: rgba(255, 255, 255, 1);
padding: 0%;
border: none;
}

.singin {
width: 130px;
height: 40px;
border-radius: 6px;
font-family:"Montserrat", sans-serif;
background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
border: none;
padding: 0%;
}

header{
max-width:100%;
min-width: 1200px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
border: none;
}

input {
border: 1px solid #FFFFFF;
border-radius: 6px;
background-color:rgba(21, 34, 55, 1);
width: 477px;
height: 40px;
padding: 0 10px;
margin: 0%;

}
#connexion_inscription {
width: 130;
height: 40;
top: 0px;
left: 1449px;
opacity: 1;
border-radius: 6px;
border: none;

}

#iconesearch {
width: 22.057804107666016px;
height: 24px;
top: 28px;
left: 1047.83px;
opacity: 1;
border: none;
}

.banner {
   position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 450px;
background: linear-gradient(94deg, rgba(68,221,138,0.8) 3%, rgba(21,183,226,0.8) 98%),
url(images/bg-header.png);
background-size: cover;
background-position: center;
border: none;
}

h1{
   padding: 0%;
   width: 1021px;
height: 59px;
top: 149px;
left: 329px;
font-family:"Montserrat", sans-serif;
font-weight: 800;
font-style: ExtraBold;
font-size: 48px;
line-height: 100%;
letter-spacing: -1.5%;
text-align: center;
border: none;

}

h2 {
width: 711px;
height: 24px;
opacity: 1;
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: -1.5%;
text-align: center;
border: none;
font-family:"Montserrat", sans-serif;
}

.info{
width: 711px;
height: 24px;
opacity: 1;
border-radius: 6px;
text-align: center;
color: rgba(21, 34, 55, 1);
}

.button{
font-family:"Montserrat", sans-serif;
border: 1px solid #FFFFFF;
width: 130px;
height: 40px;
opacity: 1;
border-radius: 6px;
text-align: center;
}

.formations{
   position: relative;
 width: 1680px;
height: 632px;
}

h3{

width: 486px;
height: 72px;
font-family: "Montserrat", sans-serif;
font-weight: 800px;
font-size: 36px;
line-height: 72px;
padding-left: 100px;
}

.cards{position: absolute;
 width: 307px;
height: 362px;
opacity: 1;
top: 136px;
left: 100px;

}


.card1 {
 
 width: 307px;
height: 36px;
top: 136px;
left: 100px;
opacity: 1;

}

.image-container{
   position: relative;
}

.image-container img {
width: 305px;
height: 206px;
top: 136px;
left: 100px;
object-fit: cover;
}

.prix-container {
  position: absolute;
  bottom:-12px; 
  right: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #152237;
  border-radius: 999px;
  padding: 6px 12px;
}

.prix {
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.oldprice {
  color: #9aa3b2;
  font-size: 12px;
  text-decoration: line-through;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title{
width: 243px;
height: 28px;
padding: 0%;
margin: 0%;
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: -1.5%;
padding-right: 50px;


}

.auteur{
width: 293px;
height: 25px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 25px;
letter-spacing: 0%;
color: rgba(21, 34, 55, 1);
margin: 0%;
padding-right: 23px;


}

.note1 {
  direction: rtl; 
  display: inline-flex;
padding-right: 80px;
padding-bottom: 30px;
width: 116.13px;
height: 19.2px;


}

.note1 input {
  display: none;
}

.note1 label {
  font-size: 2.5rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.note1 label:hover,
.note1 label:hover ~ label {
  color: gold;
}

.note1 input:checked ~ label {
  color: gold;
}

.endcard {
   width: 307px;
height: 362px;
top: 136px;
left: 100px;
font-family: Montserrat;
font-weight: 400;
font-size: 16px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(21, 34, 55, 1);

}


.formations2 {
width: 1680px;
height: 632px;
opacity: 1;
top: 1162px;
background: rgba(21, 34, 55, 1);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
background-size: cover;
background-position: center;
border: none;

}
 .avis{
width: 1680px;
height: 597px;
opacity: 1;
position: relative;
 }

 .client1{
align-items: center;
position: absolute;
width: 689px;
height: 306px;
opacity: 1;
left: 150px;
padding-right: 24px;
 }

#client1{
position: relative;
width: 139px;
height: 139px;
opacity: 1;

}

h2{
   position: relative;
text-align: center;
width: 686px;
height: 36px;
opacity: 1;
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: -1.5%;
color: rgba(21, 34, 55, 1);
margin: 0px;
}

.stars1 {
  position: relative;
}

.stars1 span {
color: rgba(255, 199, 0, 1);
font-size: 30px;
width: 20.130027770996094px;
height: 19.19999885559082px;
opacity: 1;
}

.text1 {
width: 686px;
height: 90px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: -1.5%;
color: rgba(0, 0, 0, 0.8);
}

 .client2{
position: absolute;
width: 665px;
height: 306px;
left: 863px;

 }

#client2{
position: relative;
width: 139px;
height: 139px;
opacity: 1;

}

h2{
position: relative;
text-align: left;
width: 686px;
height: 36px;
opacity: 1;
font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: -1.5%;
color: rgba(21, 34, 55, 1);
margin: 0px;
}

.stars2 {
  position: relative;
}

.stars2 span {
color: rgba(255, 199, 0, 1);
font-size: 30px;
width: 20.130027770996094px;
height: 19.19999885559082px;
opacity: 1;
}

.text2 {
width: 656px;
height: 90px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: -1.5%;
color: rgba(0, 0, 0, 0.8);

}

 .avantages{
position: relative;
width: 1680px;
height: 641px;
 }

.title1{
width: 686px;
height: 47px;
font-family: "Montserrat", sans-serif;
font-weight: 900;
font-style: Black;
font-size: 40px;
line-height: 36px;
letter-spacing: -1.5%;
text-transform: uppercase;
}

.liste1{
position: relative;
left: 163px;
width: 616px;
height: 295px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.5%;
}

.icon-list {
  list-style: none;
  padding: 0;
}

.icon-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;  /* espace entre ic么ne et texte */
}

.icon-list li img {
  width: 30px;  /* taille de l'ic么ne */
  height: 30px;
}

#pexel{
width: 727px;
height: 472px;
padding-left: 850px;
margin-top: -355px;
}



 .avantagesforma{
width: 1680;
height: 641px;
top: 3032px;
opacity: 1;
background: rgba(68, 221, 138, 1);
 }

.title2{

width: 686px;
height: 93px;
padding-left: 912px;
padding-top: 79px;
font-family: "Montserrat", sans-serif;
font-weight: 900;
font-style: Black;
font-size: 40px;
line-height: 36px;
letter-spacing: -1.5%;
text-transform: uppercase;
}

.liste2{
position: relative;
width: 616px;
height: 352px;
top: 211px;
left: 977px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.5%;
margin-top:-560px ;
}

.icon-list2 {
  list-style: none;
  padding: 0;
}

.icon-list2 li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;  /* espace entre ic么ne et texte */
}

.icon-list2 li img {
  width: 30px;  /* taille de l'ic么ne */
  height: 30px;
}

#pexel2 {
width: 729px;
height: 487px;
top: 76px;
padding-left: 101px;
margin-top:-110px ;
}



 .infoplus{
width: 1680;
height: 740px;
top: 3673px;
opacity: 1;
 }

.rectancle{
 position: relative;
width: 50%;
height: 740px;
left: 850px;
background: rgba(21, 34, 55, 1);
}

#logo2{
width: 430px;
height: 155px;
top: 292px;
left: 1050px;
}

 .texte3{
 width: 686px;
height: 372px;
top: 184px;
left: 103px;
 }

 .title3{
width: 686px;
height: 36px;
top: 184px;
left: 103px;
font-family: "Montserrat", sans-serif;
font-weight: 900;
font-style: Black;
font-size: 40px;
line-height: 36px;
letter-spacing: -1.5%;
text-transform: uppercase;
 }

.texte4{
width: 686px;
height: 295px;
top: 261px;
left: 103px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: -1.5%;
color: rgba(21, 34, 55, 1);
}

 .contact{
width: 1680px;
height: 585.5795288085938px;
top: 4413px;
opacity: 1;
border-width: 1px;
 }

 .endpage{
width: 1680;
height: 489px;
top: 5076px;
opacity: 1;
background: rgba(21, 34, 55, 1);
 }









